@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hero{
    height: 100vh;
    display: flex;
    align-items: center;
} */

.intro h1{
    overflow: hidden;
}

.intro h4{
    overflow: hidden;
}
.intro p{
    overflow: hidden;
}


.intro h1 span{
    transform: translateY(100%);
    display: inline-block;
}

.intro h4 span{
    transform: translateY(100%);
    display: inline-block;
}

.intro p span{
    transform: translateY(100%);
    display: inline-block;
}

